BPOM/Connected Services/VaccineService/VaccineService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54911/VaccineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/VaccineService" />
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/VaccineService" minOccurs="0" name="findAllResult" nillable="true" type="q1:ArrayOfdaftar_vaksin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>