BPOM/Connected Services/VaccineService/VaccineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VaccineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VaccineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfdaftar_vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="daftar_vaksin" nillable="true" type="tns:daftar_vaksin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfdaftar_vaksin" nillable="true" type="tns:ArrayOfdaftar_vaksin" />
  <xs:complexType name="daftar_vaksin">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_registrasi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_vaksin" type="xs:int" />
      <xs:element minOccurs="0" name="jenis_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="jumlah" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nama_vaksin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status_vaksin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="daftar_vaksin" nillable="true" type="tns:daftar_vaksin" />
</xs:schema>