BPOM/Connected Services/RumsakService/RumsakService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RumsakService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RumsakService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfpembelian_rumsak">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pembelian_rumsak" nillable="true" type="tns:pembelian_rumsak" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfpembelian_rumsak" nillable="true" type="tns:ArrayOfpembelian_rumsak" />
  <xs:complexType name="pembelian_rumsak">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_pembelian_rumsak" type="xs:int" />
      <xs:element minOccurs="0" name="laporan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="vaksin_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="pembelian_rumsak" nillable="true" type="tns:pembelian_rumsak" />
</xs:schema>