BPOM/Connected Services/RumsakService/RumsakService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53267/RumsakService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RumsakService" />
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RumsakService" minOccurs="0" name="findAllResult" nillable="true" type="q1:ArrayOfpembelian_rumsak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_pembelian_rumsak" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RumsakService" minOccurs="0" name="findByIdResult" nillable="true" type="q2:ArrayOfpembelian_rumsak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaporanRumsak">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RumsakService" minOccurs="0" name="dataPembelian" nillable="true" type="q3:pembelian_rumsak" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLaporanRumsakResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLaporanRumsakResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>