BPOM/Connected Services/RumsakService/RumsakService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RumsakService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53267/RumsakService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53267/RumsakService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53267/RumsakService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RumsakService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRumsakService_findAll_InputMessage">
    <wsdl:part name="parameters" element="tns:findAll" />
  </wsdl:message>
  <wsdl:message name="IRumsakService_findAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:findAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRumsakService_findById_InputMessage">
    <wsdl:part name="parameters" element="tns:findById" />
  </wsdl:message>
  <wsdl:message name="IRumsakService_findById_OutputMessage">
    <wsdl:part name="parameters" element="tns:findByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRumsakService_AddLaporanRumsak_InputMessage">
    <wsdl:part name="parameters" element="tns:AddLaporanRumsak" />
  </wsdl:message>
  <wsdl:message name="IRumsakService_AddLaporanRumsak_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddLaporanRumsakResponse" />
  </wsdl:message>
  <wsdl:portType name="IRumsakService">
    <wsdl:operation name="findAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IRumsakService/findAll" message="tns:IRumsakService_findAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRumsakService/findAllResponse" message="tns:IRumsakService_findAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input wsaw:Action="http://tempuri.org/IRumsakService/findById" message="tns:IRumsakService_findById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRumsakService/findByIdResponse" message="tns:IRumsakService_findById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddLaporanRumsak">
      <wsdl:input wsaw:Action="http://tempuri.org/IRumsakService/AddLaporanRumsak" message="tns:IRumsakService_AddLaporanRumsak_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRumsakService/AddLaporanRumsakResponse" message="tns:IRumsakService_AddLaporanRumsak_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRumsakService" type="tns:IRumsakService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findAll">
      <soap:operation soapAction="http://tempuri.org/IRumsakService/findAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="http://tempuri.org/IRumsakService/findById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddLaporanRumsak">
      <soap:operation soapAction="http://tempuri.org/IRumsakService/AddLaporanRumsak" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RumsakService">
    <wsdl:port name="BasicHttpBinding_IRumsakService" binding="tns:BasicHttpBinding_IRumsakService">
      <soap:address location="http://localhost:53267/RumsakService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>