BPOM/Connected Services/PemerintahService/PemerintahService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PemerintahService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PemerintahService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfakun_pasien">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="akun_pasien" nillable="true" type="tns:akun_pasien" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfakun_pasien" nillable="true" type="tns:ArrayOfakun_pasien" />
  <xs:complexType name="akun_pasien">
    <xs:sequence>
      <xs:element minOccurs="0" name="id_akun" type="xs:int" />
      <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="akun_pasien" nillable="true" type="tns:akun_pasien" />
</xs:schema>