BPOM/Connected Services/PemerintahService/PemerintahService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59949/PemerintahService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PemerintahService" />
  <xs:element name="findAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="findAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PemerintahService" minOccurs="0" name="findAllResult" nillable="true" type="q1:ArrayOfakun_pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_akun" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PemerintahService" minOccurs="0" name="findByIdResult" nillable="true" type="q2:ArrayOfakun_pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByNik">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nik" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByNikResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PemerintahService" minOccurs="0" name="findByNikResult" nillable="true" type="q3:ArrayOfakun_pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByNama">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nama" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findByNamaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PemerintahService" minOccurs="0" name="findByNamaResult" nillable="true" type="q4:ArrayOfakun_pasien" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>